@model IEnumerable<WebApplication1.Models.DVDProducerActors>

@{
    Layout = "~/Views/Shared/Loggedin.cshtml";
}
@{
    ViewBag.Title = "Index";
    string DVDName = "";
    string Actor = "";
    string PName = "";
}

<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Function 4</h4>
<hr />
<div class="d-flex align-items-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item"><a href="index.html" class="text-muted">Home</a></li>
            <li class="breadcrumb-item text-muted active" aria-current="page">DVD Producers Actor</li>
        </ol>
    </nav>

</div>
<h1>List the producer, studio and cast lists of all DVDs in the shop.</h1>
@foreach (var item in Model)
{
    if (item.dVDProducer.DVDDetails.DVDCoverPath != DVDName)
    {
        DVDName = item.dVDProducer.DVDDetails.DVDCoverPath;
        <img src="@Url.Content(item.dVDProducer.DVDDetails.DVDCoverPath)" width="auto" height="150" />

        <h1>@item.castMember.DVDDetails.Title</h1>
        <h2>
           @item.castMember.DVDDetails.Genre
        </h2>
        <h2>@item.castMember.DVDDetails.NoOfCopy</h2>
        <h3>@item.castMember.DVDDetails.AgeRestriction</h3>
        <h2>@item.castMember.DVDDetails.StudioName</h2>

        @item.dVDProducer.Producers.ProducerName

        <table class="table">

            <thead class="bg-dark text-white">
                <tr>
                    <th> Image</th>
                    <th> First Name </th>
                    <th> Last Name </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item2 in Model)
                {
                    if ((item2.castMember.Actors.LastName != Actor) && (item2.dVDProducer.DVDDetails.DVDCoverPath == DVDName))
                    {
                        Actor = item2.castMember.Actors.LastName;
                        <tr>
                            <td><img src="@Url.Content(item2.castMember.Actors.ImagePath)" width="auto" height="50" style="border-radius: 50%;" /></td>
                            <td>@item2.castMember.Actors.FirstName</td>
                            <td>@item2.castMember.Actors.LastName</td>


                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    <p>

    </p>





}