@model IEnumerable<WebApplication1.Models.DVDProducerActors>

@{
    Layout = "~/Views/Shared/Loggedin.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Function 4</h4>
<hr />
<div class="d-flex align-items-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item"><a href="index.html" class="text-muted">Home</a></li>
            <li class="breadcrumb-item text-muted active" aria-current="page">DVD Producers Actor</li>
        </ol>
    </nav>

</div>
<h1>List the producer, studio and cast lists of all DVDs in the shop.</h1>
<table class="table">
    
    <thead class="bg-dark text-white">
        <tr>

            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                DVD Cover
            </th>
            <th>
                DVD Title
            </th>
            <th>
                Producer Name
            </th>


        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.castMember.Actors.FirstName</td>
                <td>@item.castMember.Actors.LastName</td>
                <td>
                    <img src="@Url.Content(item.dVDProducer.DVDDetails.DVDCoverPath)" width="150" height="150" />
                </td>
                <td>@item.castMember.DVDDetails.Title</td>
                <td>@item.dVDProducer.Producers.ProducerName</td>

            </tr>

        }
    </tbody>
</table>
<br />
<table class="table">
    <thead class="bg-dark text-white">
        <tr>

            <th>
                DVD Cover
            </th>
            <th>
                DVD Title
            </th>
            <th>
                Producer Name
            </th>

            <th>
                Date Added

            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>


                <td>
                    <img src="@Url.Content(item.dVDProducer.DVDDetails.DVDCoverPath)" width="150" height="150" />
                </td>
                <td>@item.castMember.DVDDetails.Title</td>
                <td>@item.dVDProducer.Producers.ProducerName</td>
                <td>@item.castMember.DVDDetails.DateAdded</td>
            </tr>

        }
    </tbody>
</table>